body {
    background-image: url("https://wallpaperaccess.com/full/4936711.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    font-family: 'Lilita One', sans-serif;
    font-size: 60px;
    padding: 4px;
    margin: 1px;
    background-color: darkcyan;
}

a {
    color: black;
}

td {
    text-align: center;
    width: 100px;
}


table {
    font-size: 40px;
    background-color: royalblue;
    width: 100%;
    padding: 8px;
    font-family: 'Lilita One', sans-serif;
}

.help {
    background-color: rgba(0, 0, 0, 0.7);

}

.fill-form {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    padding: 10px 15px;
}

h2 {
    color: white;
    font-size: 35px;
}

p {
    color: white;
    font-size: 18px;
}

input[type=submit] {
    background-color: blueviolet;
    padding: 8px 25px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}
footer{
    background-color:black;
    color: white;
    text-align: left;
    }
    
    footer ul{
        list-style-type: none;
    }
    
    footer ul li a{
    color: white;
    text-decoration: none;
    }
    
    .div1{
    display: flex;
    justify-content: space-around;
    }
    
    .box1,.box3{
        align-self: center;
    }
    
    .div2{
    background-color: rgb(27, 27, 27);
    text-align: centerx;
    }
    
    